# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# Virtual env
.venv/
venv/

# Environment
.env

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Docker
postgres_data/

# Logs
*.log

# pytest
.pytest_cache/

